/*Core Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
body {
    background: #5a5a5a;
}

a {
    text-decoration: none;
  }
  
  a:hover {
    color: #cc9900;
    transition: all ease-in-out .4s;
  }
  
  li {
    list-style: none;
  }

/* MOBILE --------------- PHONES---------------------  */

/* HEADER / NAV */
header {
    height: 55vw;
}

.bg {
    background-image: url(images/leaves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 55vw;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.nav-wide {
    display: flex;
    justify-content: flex-end;
}

.logo-container {
    display: none;
}
.wide-ul {
    display: none;
}

.language {
    padding: 1em 1em 0 0;
}
.language > a {
    color: #fff;
}
.language > a:active {
    color: #cc9900;
}
.language > p {
    font-family: 'PT Sans', sans-serif;
    font-size: .9em;
}

#hero-logo {
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    padding: 1em 0 1em 0;
    text-align: center;
}

#hero-logo > h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
}

.omaha-wrapper > h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
    display: inline-block;
    padding: 0 5px;
    color: #fff;
}

.omaha-wrapper > hr {
  display: inline-block;
  width: 50px;
  position: relative;
  bottom: 7px;
}

.nav-mobile {
    color: white;
    display: flex;
    flex-direction: column;
}

#bars {
    align-self: center;
    font-size: 1.5em;
    cursor: pointer;
}

.mobile-ul {
    background-color: rgb(58, 61, 66);
    display: none;
    z-index: 1;
}
.mobile-ul a {
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.mobile-ul #current {
    color: #cc9900;
}

.mobile-ul li {
    padding: 1em;
}

/*Wide Section*/
.wide-section {
    display: none;
}

/*Mobile-Section*/
.mobile-section {
    background: #fff;
    color: #0054a6;
    text-align: center;
    padding: 1em;
}
.sign-in-wrapper {
    background: #f2f2f2;
    border-radius: 5px;
    padding: 1em .5em;
    margin: 1em 0;
}
.mobile-hr {
    width: 150px;
    margin: 0 auto;
    height: 2px;
    border: none;
    background: #cc9900;
}
.row {
    display: flex;
    margin: .5em 0;
}
.row label {
    flex: 1;
    background-color: #0054a6;
    color: #fff;
    border-radius: 5px 0 0 5px;
    height: 30px;
    text-align: left;
    padding: 4px 7px;
    padding-top: 5px;
    font-size: .9em;
    max-width: 122px;
    min-width: 122px;
}
.row input {
    flex: 2;
    background-color: #b2b2b2;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    padding-left: 10px;
    font-size: .9em;
    width: 100%;
}
.mobile-button {
    background: #0453a6;
    color: #fff;
    padding: .5em 2em;
    font-size: 1em;
    border-radius: 10px;
}

/*Footer*/
footer {
    background-color: #5a5a5a;
    padding: 1em;
}
.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-li {
    padding: .1em 0;
}
.footer-li a {
    color: #fff;
}
.footer-li a:hover {
    color: #cc9900;
}
#current-footer-a {
    color: #cc9900;
}
footer > p {
    padding: 1em 0;
    text-align: center;
    color: #a9a9a9;
    font-size: .8em;
}

/*Media Queries------------------------------------------------------*/

@media (min-width: 379px) {
    
    header {
        height: 45vw;
    }
    .bg {
        height: 45vw;
    }

}

@media (min-width: 480px) {
    .nav-mobile {
        padding-top: 2vw;
    }
    #hero-logo > h1 {
        font-size: 3em;
    }
    .omaha-wrapper > hr {
        bottom: 15px;
    }
    .omaha-wrapper > h2 {
        font-size: 2.5em;
    }
}

@media (min-width: 600px){
    .nav-mobile {
        padding-top: 11vw;
    }
}

/* Tablet-------------------- */
@media (min-width: 700px) {

    /*Header*/
    header {
        height: 80vw;
        max-height: 40em;
    }
    .bg {
        height: 80vw;
        max-height: 40em;
    }
    .nav-wide {
        justify-content: space-around;
        padding: 1em 0;
        background: #00000085;
    }
    .logo-container {
        display: block;
    }
    #logo {
        width: 30px;
    }
    .wide-ul {
        display: flex;
    }
    .wide-ul > li {
        padding: 0 1vw;
    }
    .wide-ul a {
        color: #fff;
        font-size: .8em;
    }
    .wide-ul a.current-wide {
        color: #da9338;
    }

    .wide-ul a:hover {
        color: #da9338;
    }
    .language {
        padding: 0;
    }
    .language p {
        font-size: .9em;
    }
    .language p:hover {
        color: #da9338;
        transition: all ease-in-out .4s;
    }
    .nav-mobile {
        display: none;
    }

    #hero-logo > h1 {
        font-size: 3em;
        color: #fff;
    }
    .omaha-wrapper > hr {
        width: 120px;
        bottom: 17px;
        height: 3px;
        border: none;
        background-color: #fff;
    }
    .omaha-wrapper > h2 {
        font-size: 2em;
        color: #fff;
    }
    /* Mobile Section */
    .mobile-section {
        display: none;
    }

    /*Wide Section*/
    .wide-section {
        display: flex;
        justify-content: space-evenly;
        padding: 0 4vw;
        margin-top: 2em;
    }

    .wide-signin {
        background: #0000009c;
        color: #ffffffa1;
        text-align: center;
        padding: 1em;
        border-radius: 10px;
    }

    .row2 {
        display: flex;
        margin: 1em auto;
        align-items: center;
    }

    .row2 label {
        flex: 1;
        padding-right: 1em;
    }
    .row2 input {
        background: #ffffff52;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 5px;
        padding: .5em;
        font-size: 1em;
    }

    .button-wrapper-wide {
        margin-top: 2em;
    }

    .wide-button {
        padding: .5em 2em;
        border: none;
        font-size: 1em;
        font-weight: bold;
        border-radius: 10px;
        background-color: #ffffff8f;
        color: black;
        cursor: pointer;
    }

    .wide-button:hover {
        background-color: #ffffffeb;
        transition: all ease-in-out .4s;
    }

}

/* Wide Screens --------------------*/
@media (min-width: 900px){

    header {
        height: 80vw;
    }
    .bg {
        height: 80vw;
    }

      /*footer*/
  .footer-wrapper {
    flex-direction: row;
    justify-content: center;
  }
  .footer-wrapper li {
    padding: 0 1.7vw;
  }
}